/* Default (Light Mode) */
body {
    background-color: #f8f9fa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

/* Dark Mode Override */
[data-bs-theme="dark"] body {
    background-color: #212529; /* Dark background */
    color: #fff;
}

/* Card Styles fix for Dark Mode */
.card {
    border-radius: 10px;
    border: none;
    transition: background-color 0.3s, color 0.3s;
}